@mixin hover() {
  &:hover {
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(90%);
    box-shadow: 1px 1px $blueBerry;
  }
}

@mixin flexJustifyCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
