/* Variables */

/* Styles */
html,
body,
#app,
.switch {
  height: 100%;
  margin: 50px;
}

@import './variables.scss';
@import './mixins.scss';
@import './breakpoints.scss';


html {
  background-image: url("../img/pink-flower.jpg");
  background-size: cover;

  // header component

  #header {
    position: relative;
    #menu {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: space-evenly;
      align-items: flex-end;
      @include media-breakpoint-up(md) {
        justify-content: space-around;
      }

      p {
        font-size: 60px;
        margin: 0;
        width: 300px;
        text-align: center;
        cursor: default;
               
        @include media-breakpoint-up(md) {
          font-size: 40px;
          width: 263px;
        }
      }
      
      .active-tab {
        background-color: white;
        text-decoration: underline;
        border-radius: 40px 40px 0 0;
        padding: 5px 5px 10px 5px;
      }
    }
  }

  // products-tab component

  .tab {
    height: 100%;       
    @include media-breakpoint-up(md) {
      width: 800px;
    }
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;

    .content {
      background-color: white;
      overflow-y: scroll;
      padding: 30px;

      .tag {
        background-color: $simplePink;
        color: white;
        font-size: 50px;
        padding: 50px;
        margin: 20px;
        border-radius: 50px;
        cursor: default;
               
        @include media-breakpoint-up(md) {
          font-size: 25px;
          padding: 25px;
          margin: 20px;
          border-radius: 50px;
        }
      }
      
      .tag-active {
        background-color: $blueBerry;
        box-shadow: 5px 10px;

      }

      @import './card-container.scss';

    }

  }


  // next btn component

  #next {
    position: relative;

    .btn-wrapper {
      z-index: 2;
      position: absolute;
      top: -90px;
      left: 43%;
      background-size: 50%;
      background-position: 50%;
      background-repeat: no-repeat;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: rgb(237, 162, 247);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include hover();

      @include media-breakpoint-up(md) {
        top: -70px;
        width: 100px;
        height: 100px;
        border: 1px solid black;
      }

      img {
        display: block;
        width: 150px;
        height: 150px;

        @include media-breakpoint-up(md) {
          width: 75px;
          height: 75px;
        }
      }

    }
  }
}
